/*-------------------------------------------------------------------------------------------------------------- 
	VARIABLES 
----------------------------------------------------------------------------------------------------------------*/
/* color */
/* основной цвет */
/* общий цвет фона */
/* цвет хидера таблиц */
/* цвет денег */
/* удача */
/* неудача */
/* белый цвет */
/* основной цвет текста */
/* size */
/*-------------------------------------------------------------------------------------------------------------- 
	GENERAL 
----------------------------------------------------------------------------------------------------------------*/
body {
  padding-top: 5em;
  background-color: #F5F8FA;
}
.container {
  width: 1100px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
button {
  padding: 2px 4px !important;
}
button .glyphicon {
  color: #7f6aff;
}
.money {
  color: #1fb217;
}
.reset-padding-left {
  padding-left: 0;
}
.glyphicon-color {
  color: #b85814;
}
.company-logo {
  display: inline-block;
  width: 80px;
}
.tab-pane {
  padding: 15px;
}
input {
  height: 26px !important;
}
.table {
  margin: 0;
}
.table thead {
  background-color: #f5f5f5;
}
.table > tbody > tr > td {
  vertical-align: middle;
  padding: 2px;
}
.glyphicon {
  line-height: 1.4;
}
li[role="presentation"] a {
  border-bottom: none;
}
li[role="presentation"] a:hover {
  border-bottom: none;
}
/*-------------------------------------------------------------------------------------------------------------- 
	NAVIGATION-BAR 
----------------------------------------------------------------------------------------------------------------*/
.navbar {
  background-color: #7f6aff;
}
.navbar .navbar-header a {
  position: relative;
  top: 3px;
}
.navbar #nav-menu ul {
  margin-left: 20px;
}
.navbar .navbar-nav li > a {
  font-size: 16px;
  color: #FFF;
}
.navbar .navbar-nav li > a:hover {
  color: #BBB !important;
}
.navbar .navbar-nav li > a:visited {
  color: #FFF;
}
.navbar #log-out {
  margin-top: 12px;
  color: #FFF;
}
.navbar #log-out:hover {
  color: #BBB;
}
.navbar #log-out .glyphicon {
  font-size: 22px;
}
/*-------------------------------------------------------------------------------------------------------------- 
	BUSINESSMAN-CARD 
----------------------------------------------------------------------------------------------------------------*/
#businessman-card .panel-heading {
  background-color: #7f6aff;
  border: none;
}
#businessman-card .panel-heading .panel-title {
  color: #FFF;
  padding-left: 130px;
}
#businessman-card .avatar {
  display: inline-block;
  margin-top: -45px;
  width: 120px;
}
#businessman-card .stats {
  display: inline-block;
  vertical-align: top;
}
/*-------------------------------------------------------------------------------------------------------------- 
	APP-INFO-CARD
----------------------------------------------------------------------------------------------------------------*/
#app-info-card .panel-title {
  font-size: 14px;
}
#app-info-card ul {
  margin-bottom: 0;
}
/*-------------------------------------------------------------------------------------------------------------- 
	CASH
----------------------------------------------------------------------------------------------------------------*/
#cash {
  height: 43px;
  text-align: right;
  border-bottom: 1px solid #7f6aff;
  margin-bottom: 20px;
  padding-top: 8px;
  font-size: 25px;
}
#cash span {
  font-weight: 600;
  margin-right: 16px;
}
/*-------------------------------------------------------------------------------------------------------------- 
	MY-COMPANIES
----------------------------------------------------------------------------------------------------------------*/
#my-companies a:hover .company-name {
  text-decoration: none !important;
}
#my-companies a .company-info {
  display: inline-block;
  vertical-align: middle;
}
#my-companies a .company-info .company-name {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
}
#my-companies a .company-info .deals-count {
  margin-bottom: 5px;
  color: #333;
}
#my-companies a .company-info .partners-count {
  color: #333;
}
#my-companies a .profit-up {
  font-size: 18px;
  color: #1fb217;
}
#my-companies a .profit-down {
  font-size: 18px;
  color: #da251e;
}
#my-companies a .plus {
  color: #1fb217;
}
#my-companies a .minus {
  color: #da251e;
}
/*-------------------------------------------------------------------------------------------------------------- 
	SEARCH-COMPANY
----------------------------------------------------------------------------------------------------------------*/
#search-company {
  line-height: 1.1;
}
#search-company .company-name {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
#search-company .address {
  margin-top: 5px;
  display: inline-block;
}
#search-company .company-price {
  font-size: 18px;
  padding: 5px 0;
}
/*-------------------------------------------------------------------------------------------------------------- 
	COMPANY
----------------------------------------------------------------------------------------------------------------*/
#company .nav-tabs {
  border: none;
}
/*-------------------------------------------------------------------------------------------------------------- 
	CAPITAL
----------------------------------------------------------------------------------------------------------------*/
#company .capital {
  position: absolute;
  font-size: 25px;
  right: 31px;
}
/*-------------------------------------------------------------------------------------------------------------- 
	CARD
----------------------------------------------------------------------------------------------------------------*/
#visit-card {
  padding: 0;
}
.visit-card {
  position: relative;
  padding: 0;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
}
.visit-card .description {
  position: relative;
  padding: 15px;
  padding-top: 0;
  margin-top: -36px;
}
.visit-card .description .company-name {
  display: inline-block;
  margin-top: 10px;
  color: #FFF;
  text-shadow: 1px 1px 2px #000000;
  font-size: 20px;
}
.visit-card .description .logo-wrapper {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  display: table-cell;
  z-index: 9;
  position: relative;
}
.visit-card .description .activity {
  font-size: 13px;
}
.visit-card .description .row > div:last-child {
  padding-left: 0;
  line-height: 1.1;
  display: inline-block;
}
.visit-card table {
  margin: 0;
  border: none;
  margin-top: 10px;
}
.visit-card table tbody tr td {
  border: none;
  font-size: 13px;
  line-height: 1;
  padding: 3px;
}
.visit-card table tbody tr td:first-child {
  width: 93px;
}
.visit-card table .slogan {
  color: #7f6aff;
}
.visit-card button.on-map {
  position: absolute;
  top: 5px;
  right: 5px;
}
/*-------------------------------------------------------------------------------------------------------------- 
	BUSINESS
----------------------------------------------------------------------------------------------------------------*/
#business {
  border: 1px solid #ddd;
  border-radius: 4px;
}
#business .table > tbody > tr > td:first-child {
  width: 40%;
}
#business .table .footer {
  background-color: #f5f5f5;
}
#business .table .footer .timer span:last-child {
  padding-right: 10px;
  font-size: 15px;
  color: #7f6aff;
}
#business .input-group {
  margin-bottom: 10px;
}
#business .price-item .bootstrap-select {
  width: 150px !important;
}
#business .price-item .input-group-btn input {
  width: 150px;
}
/*--------------------------------------------------------------------------------------------------------------
	DEALS
----------------------------------------------------------------------------------------------------------------*/
#deals {
  border: 1px solid #ddd;
  border-radius: 4px;
}
#deals table td:first-child {
  width: 60px;
  height: 60px;
}
#deals .glyphicon-ban-circle {
  color: #da251e;
}
/*--------------------------------------------------------------------------------------------------------------
	PARTNERS
----------------------------------------------------------------------------------------------------------------*/
#partners {
  padding: 0;
}
#partners .visit-card {
  margin-bottom: 5px;
}
#partners .partner {
  position: absolute;
  top: 35px;
  right: 5px;
  border: 1px solid #CCC;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  background-color: #FFF;
  color: #7f6aff;
}
#partners button.add-deal {
  position: absolute;
  top: 41px;
  right: 5px;
}
#partners .panel-deal {
  width: 100%;
  height: 122px;
  position: absolute;
  background: #FFF;
  top: 36px;
  right: 0px;
  display: none;
  padding-left: 113px;
  padding-top: 8px;
  padding-right: 15px;
}
#partners .panel-deal button.ok {
  position: absolute;
  bottom: 5px;
  right: 35px;
  color: #1fb217;
}
#partners .panel-deal button.ok span {
  color: #1fb217;
}
#partners .panel-deal button.cancel {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #da251e;
}
#partners .panel-deal button.cancel span {
  color: #da251e;
}
