/*-------------------------------------------------------------------------------------------------------------- 
	VARIABLES 
----------------------------------------------------------------------------------------------------------------*/
/* color */
@theme-color:  #7f6aff;    		/* основной цвет */
@background-color:  #F5F8FA;    /* общий цвет фона */
@table-header-color:  #f5f5f5;  /* цвет хидера таблиц */
@money-color:  #1fb217;    		/* цвет денег */
@success-color:  #1fb217;    	/* удача */
@failure-color: #da251e;		/* неудача */
@white-color: #FFF;		        /* белый цвет */
@text-color: #333;		        /* основной цвет текста */

/* size */
@container-size: 1100px;


/*-------------------------------------------------------------------------------------------------------------- 
	GENERAL 
----------------------------------------------------------------------------------------------------------------*/
body {
  padding-top: 5em;
  background-color: @background-color;
}

.container {
	width: @container-size;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    padding: 2px 4px !important;
    .glyphicon {
        color: @theme-color;
    }
}

.money {
    color: @money-color;
}

.reset-padding-left {
	padding-left: 0;
}

.glyphicon-color {
    color: #b85814;
}

.company-logo {
    display: inline-block;
    width: 80px;
}

.tab-pane {
    padding: 15px;
}

input {
    height: 26px !important;
}

.table {
    margin: 0;
    thead {
        background-color: @table-header-color;
    }
    > tbody > tr > td {
        vertical-align: middle;
        padding: 2px;
    }
}

.glyphicon {
    line-height: 1.4;
}

li[role="presentation"] a {
    border-bottom: none;
    &:hover {
        border-bottom: none;
    }
}


/*-------------------------------------------------------------------------------------------------------------- 
	NAVIGATION-BAR 
----------------------------------------------------------------------------------------------------------------*/
.navbar {
	background-color: @theme-color;
	.navbar-header a {
		position: relative;
		top: 3px;
	}
	#nav-menu ul {
		margin-left: 20px;	
	}
	.navbar-nav {
		li > a {
			font-size: 16px;
			color: #FFF;
			&:hover {
				color: #BBB !important;	
			}
			&:visited {
				color: #FFF;	
			}
		}
	}
	#log-out {
		margin-top: 12px;
		color: #FFF;
		&:hover {
			color: #BBB;	
		}
		.glyphicon {
			font-size: 22px;
		}	
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	BUSINESSMAN-CARD 
----------------------------------------------------------------------------------------------------------------*/
#businessman-card {
	.panel-heading {
    	background-color: @theme-color;
    	border: none;
    	.panel-title {
    		color: #FFF;
    		padding-left: 130px;
		}
    }
    .avatar {
	    display: inline-block;
	    margin-top: -45px;
	    width: 120px;
	}
	.stats {
	    display: inline-block;
	    vertical-align: top;
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	APP-INFO-CARD
----------------------------------------------------------------------------------------------------------------*/
#app-info-card {
	.panel-title {
		font-size: 14px;
	}
	ul {
		margin-bottom: 0;	
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	CASH
----------------------------------------------------------------------------------------------------------------*/
#cash {
	height: 43px;
	text-align: right;
	border-bottom: 1px solid #7f6aff;
	margin-bottom: 20px;
	padding-top: 8px;
	font-size: 25px;
	span {
    	font-weight: 600;
    	margin-right: 16px;
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	MY-COMPANIES
----------------------------------------------------------------------------------------------------------------*/
#my-companies {	
	a {
	    &:hover .company-name {
	    	text-decoration: none !important;
	    }
		.company-info {
			display: inline-block;
		    vertical-align: middle;
			.company-name {
				display: inline-block;
				margin-top: 5px;
				margin-bottom: 5px;
				text-decoration: underline;
			}
			.deals-count {
			   	margin-bottom: 5px;
			   	color: @text-color;
			}
			.partners-count {
			    color: @text-color;
			}
		}
		.profit-up {
			font-size: 18px;
			color: #1fb217;
		}
		.profit-down {
		    font-size: 18px;
		    color: #da251e;
		}
		.plus {
		    color: @success-color;
		}

		.minus {
		    color: @failure-color;
		}
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	SEARCH-COMPANY
----------------------------------------------------------------------------------------------------------------*/
#search-company {
	line-height: 1.1;
	.company-name {
		display: inline-block;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.address {
	    margin-top: 5px;
	    display: inline-block;
	}
	.company-price {
		font-size: 18px;
		padding: 5px 0;
	}
}
 

/*-------------------------------------------------------------------------------------------------------------- 
	COMPANY
----------------------------------------------------------------------------------------------------------------*/
#company {
	.nav-tabs {
	    border: none;
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	CAPITAL
----------------------------------------------------------------------------------------------------------------*/
#company .capital {
    position: absolute;
    font-size: 25px;
    right: 31px;
}


/*-------------------------------------------------------------------------------------------------------------- 
	CARD
----------------------------------------------------------------------------------------------------------------*/
#visit-card {
    padding: 0;
}
.visit-card {
	position: relative;
	padding: 0;
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
	.description {
	    position: relative;
		padding: 15px;
	    padding-top: 0;
	    margin-top: -36px;
		.company-name {
			display: inline-block;
	    	margin-top: 10px;
		    color: #FFF;
		    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		    font-size: 20px;
		}
	    .logo-wrapper {
		    width: 80px;
		    height: 80px;
		    vertical-align: middle;
		    display: table-cell;
		    z-index: 9;
		    position: relative;
		}
		.activity {
    		font-size: 13px;
		}
	    .row > div:last-child {
	    	padding-left: 0;
	    	line-height: 1.1;
	    	display: inline-block;
	    }
	}
	table {
		margin: 0;
		border: none;
    	margin-top: 10px;
    	tbody tr td  {
    		border: none;
	    	font-size: 13px;
	    	line-height: 1;
	    	padding: 3px;
    		&:first-child {
    			width: 93px;
    		}
		}
		.slogan {
			color: @theme-color;
		}
	}
	button.on-map {
	    position: absolute;
	    top: 5px;
	    right: 5px;
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	BUSINESS
----------------------------------------------------------------------------------------------------------------*/
#business {
    border: 1px solid #ddd;
    border-radius: 4px;
	.table {
	    > tbody > tr > td:first-child {
    	    width: 40%;
    	}
    	.footer {
    		background-color: @table-header-color;
    		.timer span:last-child {
    			padding-right: 10px;
			    font-size: 15px;
			    color: #7f6aff;
    		}
    	}
	}
	.input-group {
		margin-bottom: 10px;
	}
	.price-item {
	    .bootstrap-select {
    	    width: 150px !important;
    	}
    	.input-group-btn input {
            width: 150px;
        }
	}
}


/*--------------------------------------------------------------------------------------------------------------
	DEALS
----------------------------------------------------------------------------------------------------------------*/
#deals {
    border: 1px solid #ddd;
    border-radius: 4px;
    table {
        td:first-child {
            width: 60px;
            height: 60px;
        }
    }
    .glyphicon-ban-circle {
        color: @failure-color;
    }
}



/*--------------------------------------------------------------------------------------------------------------
	PARTNERS
----------------------------------------------------------------------------------------------------------------*/
#partners {
    padding: 0;
    .visit-card {
        margin-bottom: 5px;
    }
    .partner {
        position: absolute;
        top: 35px;
        right: 5px;
        border: 1px solid #CCC;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        text-align: center;
        background-color: @white-color;
        color: @theme-color;
    }
    button.add-deal {
        position: absolute;
        top: 41px;
        right: 5px;
    }
    .panel-deal {
        width: 100%;
        height: 122px;
        position: absolute;
        background: #FFF;
        top: 36px;
        right: 0px;
        display: none;
        padding-left: 113px;
        padding-top: 8px;
        padding-right: 15px;
        button.ok {
            position: absolute;
            bottom: 5px;
            right: 35px;
            color: #1fb217;
            span {
                color: @success-color;
            }
        }
        button.cancel {
            position: absolute;
            bottom: 5px;
            right: 5px;
            color: #da251e;
            span {
                color: @failure-color;
            }
        }
    }
}