/*-------------------------------------------------------------------------------------------------------------- 
	VARIABLES 
----------------------------------------------------------------------------------------------------------------*/
/* color */
/*$theme-color:  #7f6aff;*/
$theme-color:  #1485cc;    		/* основной цвет */
$hover-color:  #0971b2;         /* цвет наведения */
$active-color: #23527c;         /* цвет активной ссылки (кнопки) */
$background-color:  #F5F8FA;    /* общий цвет фона */
$table-header-color:  #f5f5f5;  /* цвет хидера таблиц */
$money-color:  #1fb217;    		/* цвет денег */
$success-color:  #1fb217;    	/* удача */
$failure-color: #ff0000;		/* неудача */
$white-color: #FFF;		        /* белый цвет */
$text-color: #333;		        /* основной цвет текста */
$border-color: #DDD;		    /* цвет границ */
$yellow-color: #fffc19;         /* цвет монеты */
$glyphicon-color: #ff5c40;      /* цвет иконок */
$nav-hover-color: #BBB;         /* цвет наведения в navbar */

/* size */
$container-size: 1150px;
$bold-text: 600;


/*-------------------------------------------------------------------------------------------------------------- 
	GENERAL 
----------------------------------------------------------------------------------------------------------------*/
html, body, #app, #main, .container, .main-row {
	height: 100%;
}

body {
	overflow-y: scroll;
    background-color: $background-color;
}

.main-row .col-md-4 {
	height: 100%;
	.fixed-wrapper {
		width: 362px;
		height: 100%;
		position: fixed;
		display: flex;
		flex-direction: column;
		padding-bottom: 75px;
	}
}

#main {
    padding-top: 75px;
}

.container {
	width: $container-size;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    padding: 2px 4px !important;
    .glyphicon {
        color: $theme-color;
        padding: 0;
    }
}

a {
    color: $theme-color;
    &:hover {
        color: $hover-color;
    }
}

.money {
    color: $money-color;
}

.reset-padding-left {
	padding-left: 0;
}

.glyphicon-color {
    color: $glyphicon-color;
}

.company-logo {
    display: inline-block;
    width: 80px;
}

.tab-pane {
    padding: 15px;
}

input {
    height: 26px !important;
}

.table {
    margin: 0;
    thead {
        background-color: $table-header-color;
    }
    > tbody > tr > td {
        vertical-align: middle;
        padding: 2px;
    }
}

.glyphicon {
    line-height: 1.4;
    padding-right: 5px;
}

li[role="presentation"] a {
    border-bottom: none;
    &:hover {
        border-bottom: none;
    }
}

nav.navbar + .container > .row > .col-md-4 {
    padding-right: 7px;
}

// bootstrap-select
.bootstrap-select.btn-group {
	.dropdown-menu li:not(.disabled) > a small {
		color: $money-color;
	}
	.dropdown-toggle span.filter-option > small {
		color: $money-color;
	}
}

//input-group
div.input-group {
	input.form-control {
		height: 22px !important;
		padding: 2px 5px;

	}
	button {
		height: 22px;
		.glyphicon {
			top: 0;
		}
	}
}



/*-------------------------------------------------------------------------------------------------------------- 
	NAVIGATION-BAR 
----------------------------------------------------------------------------------------------------------------*/
.navbar {
	background-image: linear-gradient(to bottom,#4D5356 0,#222 100%);
	.navbar-header a {
		position: relative;
		top: 2px;
		img {
			padding-bottom: 4px;
		}
	}
	#nav-menu ul {
		margin-left: 20px;	
	}
	.navbar-nav {
		li > a {
			font-size: 16px;
			color: #FFF;
			&:hover {
				color: $nav-hover-color !important;
			}
			&:visited {
				color: #FFF;	
			}
		}
	}
	#log-out {
		margin-top: 12px;
		color: #FFF;
		&:hover {
			color: $nav-hover-color
		}
		.glyphicon {
			font-size: 22px;
		}	
	}
}

.top-strut {
	position: fixed;
	width: 100%;
	height: 20px;
	top: 55px;
	background: $background-color;
	z-index: 99;
}

/*--------------------------------------------------------------------------------------------------------------
	LOGIN-PAGE
----------------------------------------------------------------------------------------------------------------*/
.loginForm {
	width: 300px;
	padding-top: 10px;
	padding-left: 15px;
}

/*-------------------------------------------------------------------------------------------------------------- 
	BUSINESSMAN-CARD 
----------------------------------------------------------------------------------------------------------------*/
#businessman-card {
	.panel-heading {
    	background-color: $theme-color;
    	border: none;
    	.panel-title {
    		color: #FFF;
    		padding-left: 130px;
		}
    }
    .avatar {
	    display: inline-block;
	    margin-top: -45px;
	    width: 120px;
	}
	.stats {
	    display: inline-block;
	    vertical-align: top;
	    padding-left: 7px;
	}
	.glyphicon {
		color: $glyphicon-color;
	}
	.menu {
		margin-bottom: 0;
	}
}


/*--------------------------------------------------------------------------------------------------------------
	TAPE-CARD
----------------------------------------------------------------------------------------------------------------*/
#tape-card {
	flex: 1;
	overflow-y: auto;
	.panel-body {

	}
	.item-name {
		color: $theme-color;
	}
	.tape-message {
	    font-size: 13px;
		padding: 10px 0;
		border-bottom: 1px solid $border-color;
		&:first-child {
			padding-top: 0;
		}
		.time {
			border-radius: 5px;
			display: inline-block;
			padding: 0px 2px;
			margin-right: 10px;
			border: 1px solid #1485cc;
			color: #1485cc;
		}
	}
	.search {
		color: $theme-color;
		cursor: pointer;
		float: right;
		&:hover {
			color: $money-color;
		}
	}
	.icon {
		width: 22px;
		margin-right: 8px;
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	APP-INFO-CARD
----------------------------------------------------------------------------------------------------------------*/
#app-info-card {
	.panel-title {
		font-size: 14px;
	}
	ul {
		margin-bottom: 0;	
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	CASH
----------------------------------------------------------------------------------------------------------------*/
#cash {
	height: 43px;
	text-align: right;
	border-bottom: 1px solid $theme-color;
	margin-bottom: 20px;
	font-size: 25px;
	position: fixed;
	width: 734px;
	z-index: 99;
	background: $background-color;
	border-left: 2px solid #F5F8FA;
	box-sizing: content-box;
	border-right: 2px solid #F5F8FA;
	margin-left: -1px;
	span {
		display: inline-block;
		margin-top: 8px;
    	font-weight: $bold-text;
    	margin-right: 14px;
	}
}

#cash + div {
	margin-top: 63px;
}


/*-------------------------------------------------------------------------------------------------------------- 
	MY-COMPANIES
----------------------------------------------------------------------------------------------------------------*/
#my-companies {
    .panel-body {
        padding: 0 15px;
    }
	a {
	    display: table;
        width: 100%;
        height: 100%;
        padding: 15px 0;
        border-bottom: 1px solid $border-color;
	    &:hover .company-name {
	    	text-decoration: none !important;
	    }
	    &:last-child {
	        border-bottom: none;
	    }
		.company-info {
			display: inline-block;
		    vertical-align: middle;
			.company-name {
				display: inline-block;
				margin-top: 5px;
				margin-bottom: 5px;
				text-decoration: underline;
			}
			.deals-count {
			   	margin-bottom: 5px;
			   	color: $text-color;
			}
			.partners-count {
			    color: $text-color;
			}
		}
		.profit-up {
			font-size: 18px;
			color: #1fb217;
			.glyphicon {
			    padding: 0;
			}
		}
		.profit-down {
		    font-size: 18px;
		    color: #da251e;
		    .glyphicon {
                padding: 0;
            }
		}
		.plus {
		    color: $success-color;
		}

		.minus {
		    color: $failure-color;
		}
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	SEARCH-COMPANY
----------------------------------------------------------------------------------------------------------------*/
#search-company {
	line-height: 1.1;
	.panel-body {
	    padding: 0 15px;
	    .row {
	        padding: 15px 0;
	        border-bottom: 1px solid $border-color;
	        &:last-child {
	            border-bottom: none;
	        }
	    }
	}
	.company-name {
		display: inline-block;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.address {
	    margin-top: 5px;
	    display: inline-block;
	}
	.company-price {
		font-size: 18px;
	    font-weight: $bold-text;
		padding: 5px 0;
	}
}
 

/*-------------------------------------------------------------------------------------------------------------- 
	COMPANY
----------------------------------------------------------------------------------------------------------------*/
#company {
	.nav-tabs {
	    border: none;
		li {
			font-size: 16px;
		}
	}
    .investment {
        margin-bottom: 20px;
        padding-bottom: 4px;
        div:first-child {
            display: inline-block;
        }
        input {
            color: $money-color;
            font-weight: $bold-text;
            display: inline-block;
            width: 85%;
            box-shadow: none;
            border: none;
            border-bottom: 1px solid $border-color;
            margin: 0;
            padding: 0;
            line-height: 1;
            font-size: 16px;
            border-radius: 0;
            height: 27px !important;
			cursor: pointer;
        }
        .to-invest {
			height: 24px;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $border-color;
			padding-bottom: 0 !important;
            &:hover {
                background: none;
                span.glyphicon {
                    color: $money-color;

                }
            }
        }
    }
	.budget {
        font-size: 25px;
        font-weight: $bold-text;
        line-height: 1;
    }
    .panel-body > hr {
        margin-top: 0;
        margin-bottom: 20px;
    }
}


/*-------------------------------------------------------------------------------------------------------------- 
	VISIT-CARD
----------------------------------------------------------------------------------------------------------------*/
#visit-card {
    padding: 0;
}
.visit-card {
	position: relative;
	padding: 0;
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
	> img {
		width: 100%;
		height: 100px;
	}
	.description {
	    position: relative;
		padding: 15px;
	    padding-top: 0;
	    margin-top: -36px;
		.company-name {
			display: inline-block;
	    	margin-top: 10px;
		    color: #FFF;
		    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		    font-size: 20px;
		}
	    .logo-wrapper {
		    width: 80px;
		    height: 80px;
		    vertical-align: middle;
		    display: table-cell;
		    z-index: 9;
		    position: relative;
		}
		.activity {
    		//font-size: 13px;
		}
	    .row > div:last-child {
	    	padding-left: 0;
	    	line-height: 1.1;
	    	display: inline-block;
	    }
	}
	table {
		margin: 0;
		border: none;
    	margin-top: 10px;
    	tbody tr td  {
    		border: none;
	    	//font-size: 13px;
	    	line-height: 1;
	    	padding: 3px;
    		&:first-child {
    			width: 99px;
				padding-left: 0px;
    		}
		}
		.slogan {
			color: $theme-color;
		}
	}
	button.on-map {
	    position: absolute;
	    top: 5px;
	    right: 5px;
	}
}


/*--------------------------------------------------------------------------------------------------------------
	PARTNERS
----------------------------------------------------------------------------------------------------------------*/
#partners {
	padding: 0;
	.visit-card {
		margin-bottom: 5px;
	}
	.partner {
		position: absolute;
		top: 35px;
		right: 5px;
		border: 1px solid #CCC;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		text-align: center;
		background-color: $white-color;
		color: $theme-color;
	}
	button.add-deal {
		position: absolute;
		top: 41px;
		right: 5px;
	}
	.panel-deal {
		width: 100%;
		height: 122px;
		position: absolute;
		background: #FFF;
		top: 36px;
		right: 0px;
		display: none;
		padding-left: 15px;
		padding-top: 17px;
		padding-right: 15px;
		.calculator {
			.product-count {
				display: inline-block;
				width: 100px;
			}
			.glyphicon {
				padding: 0 10px;
				color: $theme-color;
			}
		}
		button.ok {
			position: absolute;
			bottom: 5px;
			right: 35px;
			color: #1fb217;
			span {
				color: $success-color;
			}
		}
		button.cancel {
			position: absolute;
			bottom: 5px;
			right: 5px;
			color: #da251e;
			span {
				color: $failure-color;
			}
		}
		.total {
			font-size: 16px;
		}
		.calculator {
			padding-left: 104px;
			.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
				width: 280px;
			}
		}
		hr {
			margin-top: 10px;
			margin-bottom: 5px;
		}
		.product {
			display: table-row;
			height: 55px;
			> div {
				display: table-cell;
				vertical-align: middle;
				&:first-child {
					width: 50px;
					height: 50px;
				}
				&:last-child {
					width: 570px;
				}
			}
			.product-description {
				display: inline-block;
				//font-size: 13px;
				line-height: 1.1;
				width: 90%;
				vertical-align: middle;
				padding-left: 10px;
			}
			.product-logo {
				display: inline-block;
				width: 50px;
			}
		}
	}
}


/*--------------------------------------------------------------------------------------------------------------
	ASSETS
----------------------------------------------------------------------------------------------------------------*/
#assets {
	border: 1px solid #ddd;
	border-radius: 4px;
	.asset {
		border-bottom: 1px solid $border-color;
		padding-bottom: 10px;
		padding-top: 10px;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border: none;
			padding-bottom: 0;
		}
		.name {
			font-size: 16px;
			color: $theme-color;
			padding-bottom: 5px;
		}
		.info {
			display: table-row;
			> div {
				display: table-cell;
				&:first-child {
					width: 50px;
					height: 50px;
					vertical-align: middle;
				}
				&:last-child {
					padding-left: 10px;
				}
			}
			.description {
				display: inline-block;
				//font-size: 13px;
				line-height: 1.1;
			}
			.copyright {
				font-size: 13px;
				a {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.count {
			color: $theme-color;
			font-weight: $bold-text;
			font-size: 16px;
			text-align: right;
		}
	}
}


/*-------------------------------------------------------------------------------------------------------------- 
	BUSINESS
----------------------------------------------------------------------------------------------------------------*/
#business {
    border: 1px solid #ddd;
    border-radius: 4px;
	.financial-result {
		strong {
			display: inline-block;
			padding-bottom: 5px;
		}
		.table {
			> tbody {
				> tr > td:first-child {
					width: 33%;
					border-right: 1px solid #DDD;
					padding: 0;
				}
				> tr:last-child td {
					border-right: none;
				}
			}

			.footer {
				background-color: $table-header-color;
				.timer span:last-child {
					padding-right: 10px;
					font-size: 15px;
					color: $theme-color;
				}
			}
		}
	}
	.personal-product {
		border-bottom: 1px solid #DDD;
		margin-bottom: 15px;
		padding-bottom: 15px;
		display: table;
		width: 100%;
		.cell {
			display: table-cell;
			&:first-child {
				width: 33%;
				border-right: 1px solid $border-color;
			}
			&:last-child {
				padding-left: 15px;
			}
		}
		.icon {
			width: 25px;
			display: inline-block;
		}
		a {
			padding-left: 10px;
			cursor: pointer;
		}
		li:first-child a {
			color: $active-color;
			text-decoration: underline;
		}
		.col-md-4 {
			border-right: 1px solid #DDD;
		}
		.count, .prime-cost {
			padding-left: 6px;
		}

		//placeholder
		.prime-cost {
			color: $money-color;
		}
		::-webkit-input-placeholder {
			color: $money-color;
		}
		:-moz-placeholder {
			color: $money-color;
			opacity: 1;
		}
		::-moz-placeholder {
			color: $money-color;
			opacity: 1;
		}
		:-ms-input-placeholder {
			color: $money-color;
		}

		table {
			tr {
				height: 22px;
			}
			td:first-child {
				padding-right: 20px;
			}
			.input-group {
				width: 150px;
				input {
					color: $money-color !important;
				}
			}
		}
	}
}


/*--------------------------------------------------------------------------------------------------------------
	DEALS
----------------------------------------------------------------------------------------------------------------*/
#deals {
    border: 1px solid #ddd;
    border-radius: 4px;
    table {
        td:first-child {
            width: 60px;
            height: 60px;
        }
    }
    .glyphicon-ban-circle {
        color: $failure-color;
    }
}