@font-face {
	font-family: "Roboto_Bold";
 	src: url('fonts/Roboto_Bold/Roboto_Bold.eot');
 	src: url('fonts/Roboto_Bold/Roboto_Bold.eot?#iefix') format('embedded-opentype'),
 		 url('fonts/Roboto_Bold/Roboto_Bold.woff') format('woff'),
 		 url('fonts/Roboto_Bold/Roboto_Bold.ttf') format('truetype');
}
@font-face {
	font-family: "Roboto_Regular";
 	src: url('fonts/Roboto_Regular/Roboto_Regular.eot');
 	src: url('fonts/Roboto_Regular/Roboto_Regular.eot?#iefix') format('embedded-opentype'),
 		 url('fonts/Roboto_Regular/Roboto_Regular.woff') format('woff'),
 		 url('fonts/Roboto_Regular/Roboto_Regular.ttf') format('truetype');
}
@font-face {
	font-family: "Roboto_Slab_Light";
 	src: url('fonts/Roboto_Slab_Light/Roboto_Slab_Light.eot');
 	src: url('fonts/Roboto_Slab_Light/Roboto_Slab_Light.eot?#iefix') format('embedded-opentype'),
 		 url('fonts/Roboto_Slab_Light/Roboto_Slab_Light.woff') format('woff'),
 		 url('fonts/Roboto_Slab_Light/Roboto_Slab_Light.ttf') format('truetype');
}

.middleDisplay {
	width: 800px;
	left: 50%;
	margin-left: -400px;
	background: #F7F3F3;
	padding: 0px 10px;
	height: 100%;
	position: relative;
	height: 95vh;
}
.header {
	padding-bottom: 20px;
}
.businessman {
	font-family: 'Roboto_Slab_Light';
	font-size: 30pt;
	text-transform: uppercase;
	display: inline-block;
}
.money {
	float: right;
	font-family: 'Roboto_Bold';
	font-size: 20pt;
	padding-top: 7px;
	color: #007f0e;
}
.header + div {
	height: 270px;
}
.avatar {	
	width: 240px;
	height: 240px;
	float: left;
	padding-right: 20px;
}	

.user_info {
	font-family: 'Roboto_Regular';
	font-size: 14pt;
}
.user_info b {
	font-family: 'Roboto_Bold';
}

.user_info .action {
	margin-top: 50px;
}
.user_info .action a {
	font-family: 'Roboto_Slab_Light';
	font-size: 17px;
}
.companies {
	
}
.companies .title {
	padding-bottom: 10px;
	font-size: 15pt;
	font-family: 'Roboto_Bold';
}
.companies .logo {
	width: 80px;
	height: 80px;
}

.companies .info {
	padding:
}

.companies tr td {
	padding-left: 20px;
}
.companies tr td:last-child {
	padding-left: 20px;
	font-family: 'Roboto_Regular';
	font-size: 13pt;
}